@tailwind base;
@tailwind components;
@tailwind utilities;

.center-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar .flex-1 {
  flex: none; /* Ensures the logo area does not shrink */
}

.navbar {
  display: flex;
  justify-content: space-between; /* Ensures the navbar items are spread out */
  align-items: center; /* Aligns items vertically */
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

/* .card {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.card figure {
  margin: 0;
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-title {
  margin-top: -1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.5rem 0;
}

.card p {
  margin: 0.5rem 0;
}

.card ul {
  padding-left: 1rem;
  list-style: disc;
  margin: 0;
} */

/* .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
} */

/* .card-body {
  margin-top: -1.5rem;
} */
